
            
.form-group.col-md-12
    label.control-label.worklog-edit-label 任务名称
    select.form-control.customSelect#task(placeholder="选择任务")
        optgroup(label="选择任务")
            - for (var i = 0; i < tasks.length; i++)
                option(value=`${tasks[i].id}`, data-model=`${tasks[i].model}`, data-type=`${tasks[i].type}`, data-work-object=`${tasks[i].workObject}`, data-work-place=`${tasks[i].workPlace}`) #{tasks[i].name}

.form-group.col-md-3
    label.control-label.worklog-edit-label 所属型号
    select.form-control.customSelect#model
        optgroup(label="选择所属型号")
            - for (var i = 0; i < models.length; i++)
                option #{models[i].name}

.form-group.col-md-3
    label.control-label.worklog-edit-label 工作类型
    select.form-control.customSelect#workType
        optgroup(label="选择工作类型")
            - for (var i = 0; i < workTypes.length; i++)
                option #{workTypes[i].name}

.form-group.col-md-3
    label.control-label.worklog-edit-label 工作对象
    select.form-control.customSelect-tags#workObject(placeholder="选择或录入工作对象，如XXXX系统、XXXX软件")
        optgroup(label="选择或录入工作对象")
            - for (var i = 0; i < workObjects.length; i++)
                option #{workObjects[i].name}

.form-group.col-md-3
    label.control-label.worklog-edit-label 工作地点
    select.form-control.customSelect-tags#workPlace
        optgroup(label="选择或录入工作地点")
            - for (var i = 0; i < workPlaces.length; i++)
                option #{workPlaces[i].name}

.form-group.col-md-3
    label.control-label 日期
    input.form-control.datepicker#worklogDate(type="text",placeholder="选择日期")

.form-group.col-md-3
    label.control-label.worklog-edit-label 开始时间
    select.form-control.customSelect#workBeginTime
        optgroup(label="选择开始时间")
            - for (var i = 0; i < workTimes.length; i++)
                option #{workTimes[i].name}

.form-group.col-md-3
    label.control-label.worklog-edit-label 工作时长(小时)
    select.form-control.customSelect-tags#workTimeLength
        optgroup(label="选择或录入工作时长")
            option 0.5
            option 1.0
            option 1.5
            option 2.0
            option 2.5
            option 3.0
            option 3.5
            option 4.0

.form-group.col-md-3
    label.control-label.worklog-edit-label 任务完成进度(%)
    select.form-control.customSelect-tags#taskProgress
        optgroup(label="选择或录入任务的完成进度")
            option 10
            option 20
            option 30
            option 40
            option 50
            option 60
            option 70
            option 80
            option 90
            option 100

.form-group.col-md-12
    label(for='workContent') 工作内容
    textarea#workContent.form-control(rows='8')